<!doctype html>
<form method="POST">
    <label for="Gender">Gender</label>
    <input name="Gender", value="Male"> <br><br>
    <label for="Married">Married</label>
    <input name="Married", value="Yes"> <br><br>
    <label for="Dependents">Dependents</label>
    <input name="Dependents", value="1"> <br><br>
    <label for="Education">Education</label>
    <input name="Education", value="Graduate"> <br><br>
    <label for="Self_Employed">Self_Employed</label>
    <input name="Self_Employed", value="Yes"> <br><br>
    <label for="ApplicantIncome">ApplicantIncome</label>
    <input name="ApplicantIncome", value="3466", type="number"> <br><br>
    <label for="CoapplicantIncome">CoapplicantIncome</label>
    <input name="CoapplicantIncome", value="1210.0" type="number"> <br><br>
    <label for="LoanAmount">LoanAmount</label>
    <input name="LoanAmount", value="130.0" type="number"> <br><br>
    <label for="Loan_Amount_Term">Loan_Amount_Term</label>
    <input name="Loan_Amount_Term", value="360.0" type="number"> <br><br>
    <label for="Credit_History">Credit_History</label>
    <input name="Credit_History", value="1.0" type="number"> <br><br>
    <label for="Property_Area">Property_Area</label>
    <input name="Property_Area", value="Rural"> <br><br>
    <input type="submit">
</form>


